$mainColor:  black;
$mainColor2:  rgb(4, 255, 17);
$mainColor3:  #15023a;


$width: 768px;

@mixin mobile {
    @media (max-width: #{$width}){
        @content
    }
}

.col {
  display: flex;
  flex-direction: column; 
}


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }